{
  "parser": "typescript-eslint-parser",
  "plugins": ["react", "jest", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier"
  ],
  "rules": {
    "comma-spacing": ["warn"],
    "key-spacing": [
      "warn",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "keyword-spacing": ["warn", { "after": true }],
    "jsx-quotes": ["warn", "prefer-double"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "no-extra-boolean-cast": "off",
    "no-multi-spaces": "warn",
    "no-spaced-func": "warn",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-redeclare": "off",
    "react/prop-types": [
      "warn",
      {
        "ignore": ["children", "history", "location", "params", "routes"]
      }
    ],
    "react/no-danger": "off",
    "semi": ["warn", "always"],
    "space-before-blocks": ["warn", "always"],
    "spaced-comment": ["warn", "always"],
    "space-infix-ops": "warn",
    "space-in-parens": ["warn", "never"],
    "space-unary-ops": [
      "warn",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "object-curly-spacing": [2, "always"],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "parser": "typescript"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Promise": true,
    "jest": true,
    "shallow": true,
    "toJson": true,
    "test": true,
    "expect": true,
    "describe": true,
    "mockStore": true,
    "DEV": true,
    "PROD": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "jsx": true,
      "modules": true,
      "restParams": true,
      "templateStrings": true,
      "spread": true
    },
    "sourceType": "module"
  }
}
